* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: var(--primary);
}
  
  :root {
    --primary: #ffffff;
    --secondary: #8ed5de;
    --tertiary: #8ed5de;
    --accent: #157a92;
    --text: #000000;
    --opacity: .5;
    --scale: 1;
    --scale-two: 1;
    --gradiant-one: rgba(21,122,146, 1);
    --gradiant-two: rgba(142,213,222,.1);
  }
  /* ~~~~~~~~~~~~~~~~~~~ */
  /*  Dark Mode Colors   */
  /* ~~~~~~~~~~~~~~~~~~~ */
[data-theme="dark"] {
    --primary: #5c5c5c;
    --secondary: #157a92;
    --tertiary: #333333;
    --accent: #8ed5de;
    --text: #ffffff;
    --opacity: .3;
    --gradiant-one: rgba(92, 92, 92, .8);
    --gradiant-two: rgba(51, 51, 51, .1);
}

/* ~~~~~~~~~~~~~~~~~~~ */
/*       Header        */
/* ~~~~~~~~~~~~~~~~~~~ */