:root {
    --primary:  #f1f1f1;
    --secondary: #87D0AC;
    --tertiary: #87D0AC;
    --accent: #AC87D0;
    --text: #000000;
    --opacity: .7;
    --scale: 1;
    --scale-two: 1;
    --gradiant-one: rgba(21, 122, 146, 1);
    --gradiant-two: rgba(142, 213, 222, .1);
}



/* ~~~~~~~~~~~~~~~~~~~~~~~ */
/* Dark Mode Colors   */
/* ~~~~~~~~~~~~~~~~~~~~~~~ */


[data-theme="dark"] {
    --primary:  #928759;
    --secondary: #949095;
    --tertiary: #598092;
    --accent: #C7D9E1;
    --text: #b6b6b6;
    --opacity: .7;
    --scale: 1;
    --scale-two: 1;
    --gradiant-one: rgba(21, 122, 146, 1);
    --gradiant-two: rgba(142, 213, 222, .1);
}


/* Base Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 1em;
    overflow-x: hidden;
}

body {
    background-color: var(--primary);
    display: block;
    

}
a,li,h6,h5,h4,h3,h2,h1,p{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.55rem;
    letter-spacing: 1px;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 1.5rem;
}
h3{
    font-size: 1rem;
}




/* ~~~~~~~~~~~~~~~~~~~ */
/*       Header        */
/* ~~~~~~~~~~~~~~~~~~~ */



.nav-wrapper {
    display: flex;
    height: 100px;
    flex-direction: row;
    width: 100vw;
    padding: 0 5% 2% 5%; /*  remember top right bottom left */
    height: auto;
    background-color: var(--primary);

}

[class^="nav-wrapper"] {
    list-style-type: none;
    font-size: 1.4rem;
}

.nav-list {
    padding: 1.5% 0 0% 5%; /*  remember top right bottom left */
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* The sliding bar under the li's */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
a.nav-list-link {
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--text);
    display: block;
    border: 0;
    margin: 5% 0;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
a.nav-list-link::after {
    content: "";
    position: absolute;
    width: 110%;
    height: 5px;
    background: var(--accent);
    bottom: -5px;
    left: 0;
    transform:  scale(0, .5);
    transition: transform .5s ease;
    z-index: -1;
    opacity: .9;
}
a.nav-list-link:hover::after {
    transform: scale(1, 1);
   
    
    
}
/* The sliding bar under the li's when in focus */
a.nav-list-link:focus::after {
    transform: scale(1, 1);
   
    
    
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*          Intro section     

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    
    .intro-wrapper{
        background-image: linear-gradient(
            170deg,#87d0ac 40% ,#ac87d0);
        padding: 5% 0 0 0;
        
        height: 100vh;
        
    }
    .intro-text{
        float: left;
        width: 50%;
        padding:10%;
       
    }
    


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*           Profile Card            */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.profile-wrapper{
    width: 50%;
    height:95%;
    display:flex;
   padding-left:8%;
  
}
.profile-card{
    position: relative;
    display:inline-flex;
    min-width: 300px;
    height:500px;
   

}
.profile-card-image{
    opacity: 0.3;
}
.card-head{
    position: absolute;
    top:50%;
    left:70%;
    transform: translate(-50%, -50%);
    width: 100%;
    height:80%;
    
    cursor: pointer;
}
.card-head-img{
    width: 100%;
    height:100%;
    object-fit: cover;
}


.hover-content{
    visibility: unset;
    position:absolute;
    inset: 0;
    background: var(--text);
    color:white;
    display: flex ;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    padding:2%;
    text-align: center;
    opacity: 0;
    padding:5%;

}
.card-head:hover .hover-content{
    opacity: var(--opacity);
    
}
.card-head:focus .hover-content{
    opacity:var(--opacity);
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*           Experience              */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.experience-wrapper{
    min-height: 100vh;
    padding :5%;
}
.job-etown{
    margin-top:8%;
    padding: 3%;
    width: 70%;
    box-shadow: 5px 10px 16px var(--accent);
}
.exp-place{
    margin-bottom: .5%;
}
.job-title{
    padding-left:2%;
}
.section-title{
    width: 20%;
    display: block;
    font-size: 3rem;
    margin-bottom: 2%;
    
}
.section-title::after{
    content: "";
    position: absolute;
    width: 50%;
    height: 10px;
    background: var(--accent);
    bottom:-25%;
    left: 0;
    z-index: -1;
    opacity: var(--opacity);
}

.job-tutor{
    margin-top:8%;
    padding: 3%;
    width: 70%;
    box-shadow: -10px 5px 16px var(--accent);
    float: right;
}

