/* Base Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 1em;
    overflow-x: hidden;
}

body {
    background-color: var(--primary);
    display: block;
    font-family: 'Open Sans',sans-serif;

}

:root {
    --primary:  #ede7ee;
    --secondary: #8ECDE9;
    --tertiary: #8ECDE9;
    --accent: #6B9AAF;
    --text: #000000;
    --opacity: .7;
    --scale: 1;
    --scale-two: 1;
    --gradiant-one: rgba(21, 122, 146, 1);
    --gradiant-two: rgba(142, 213, 222, .1);
}



/* ~~~~~~~~~~~~~~~~~~~~~~~ */
/* Dark Mode Colors   */
/* ~~~~~~~~~~~~~~~~~~~~~~~ */


[data-theme="dark"] {
    --primary:  #928759;
    --secondary: #949095;
    --tertiary: #598092;
    --accent: #C7D9E1;
    --text: #b6b6b6;
    --opacity: .7;
    --scale: 1;
    --scale-two: 1;
    --gradiant-one: rgba(21, 122, 146, 1);
    --gradiant-two: rgba(142, 213, 222, .1);
}




/* ~~~~~~~~~~~~~~~~~~~ */
/*       Header        */
/* ~~~~~~~~~~~~~~~~~~~ */



.nav-wrapper {
    justify-content: space-between;
    display: flex;
    height: 100px;
    flex-direction: row;
    width: 100vw;
    padding: 0 0 3% 5%; /*  remember top right bottom left */
    height: auto;
    background-color: var(--tertiary);

}

[class^="nav-wrapper"] {
    list-style-type: none;
    font-size: 1.4rem;
}

.nav-list {
    padding: 1.5% 0 0% 5%; /*  remember top right bottom left */
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* The sliding bar under the li's */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
a.nav-list-link {
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--text);
    display: block;
    border: 0;
    margin: 2% 0;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    
    z-index: 2;
}
a.nav-list-link::after {
    content: "";
    position: absolute;
    width: 110%;
    height: 8px;
    background: var(--accent);
    bottom: 0;
    left: 0;
    transform:  scale(0, .5);
    transition: transform .5s ease;
    z-index: -1;
    opacity: .9;

}
a.nav-list-link:hover::after {
    transform: scale(1, 1);
   
    
    
}
/* The sliding bar under the li's when in focus */
a.nav-list-link:focus::after {
    transform: scale(1, 1);
   
    
    
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*           Hero section     

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    .profile-wrapper{
        width: 50%;
        height:95%;
        display:flex;
       padding-left:8%;
      
    }
    .hero-wrapper{
        background:var(--primary);
        padding: 5% 0 0 0;
        
        height: 100vh;
        
    }
    .hero-text{
        float: left;
        width: 50%;
        padding:10%;
       
    }
    


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*           Profile Card            */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.profile-card{
    position: relative;
    display:inline-flex;
    min-width: 250px;
    height:600px;
   

}
.profile-card-image{
    opacity: 0.3;
}
.card-head{
    position: absolute;
    top:50%;
    left:70%;
    transform: translate(-50%, -50%);
    width: 300px;
    height:400px
}
.card-head-img{
    width: 100%;
    height:100%;
    object-fit: cover;
}


.hover-content{
    visibility: unset;
    position:absolute;
    inset: 0;
    background: var(--text);
    color:white;
    display: flex ;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    padding:2%;
    text-align: center;
    opacity: 0;

}
.card-head:hover .hover-content{
    opacity: .8;
    
}
.card-head:focus .hover-content{
    opacity: .8;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*           Experience              */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.experience-main__container {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--secondary);
    position: relative;
    z-index: 1;
    padding: 20px 0 20px 0;
}

.experience-main__title {
    font-size: 2.5rem;
    color: var(--text);
    width: 70%;
    margin: 0 0 0 5%;
    position: relative;
    z-index: 1;
    padding: 15px 0;
}

.experience-main__title::after{
    content: "";
    position: absolute;
    width: 40%;
    height: 10px;
    background: var(--accent);
    bottom: 13px;
    left: 0;
    
  
    opacity: .9;
}


article[class^="experience"] {
    width: 80%;
    padding: 15px 0;
    margin: 0 auto;
    background-color: var(--primary);
    padding: 5%;
    outline: 3px solid var(--accent);
    outline-offset: 8px;
}
h3[class^="experience"]{
    color: --var(text);
    font-size: 1.5rem;
    margin: 1% 0;
    font-weight: 700;
}
h4[class^="experience"]{
    color: var(--text);
    font-size: 1rem;
    margin: 1% 0;
    font-weight: 600;
}

p[class^="experience"] {
    color: var(--text);
    position: relative;
    z-index: 1;
    font-size: 1.25rem;
    width: 80%;
    margin: 1.5%;
}